@using COM.JOMA.EMP.APLICACION.SERVICE.Constants
@{
    var Controller = $"{WebSiteConstans.JOMA_WEBSITE_AREA_ADMINISTRACION}/{WebSiteConstans.JOMA_WEBSITE_AREA_CONTROLLER_TERAPISTAS}";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h1 class="card-title text-center pb-0 fs-8">Terapista</h1>
                        <p class="text-center fw-medium">Ingrese los datos personales</p>
                    </div>
                    <div class="alert customize-alert alert-dismissible border-warning text-warning rounded-pill fade show remove-close-icon" role="alert">
                        <div class="d-flex align-items-center  me-3 me-md-0">
                            <i class="ti ti-info-circle fs-5 me-2 text-warning"></i> Para editar un terapista, ingrese la cédula.
                        </div>
                    </div>

                    <form class="row g-3 needs-validation" id="RegistrarTerapista" novalidate>
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="Nombres" class="form-control" id="Nombres" placeholder="Nombres" required>
                                <label for="Nombres">Nombres</label>
                                <div class="invalid-feedback">Por favor, ingrese sus nombres.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="Apellido" class="form-control" id="Apellido" placeholder="Apellidos" required>
                                <label for="Apellido">Apellidos</label>
                                <div class="invalid-feedback">Por favor, ingrese sus apellidos.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="Cedula" class="form-control" id="Cedula" placeholder="cédula" required>
                                <label for="Cedula">Cédula</label>
                                <div class="invalid-feedback">Por favor, ingrese su cédula.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="email" name="Correo" class="form-control" id="Correo" placeholder="correo" required>
                                <label for="Correo">Correo</label>
                                <div class="invalid-feedback">Por favor, ingrese su correo electrónico.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="Genero" name="Genero" class="form-select" placeholder="Genero" required>
                                    <option></option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">Otros</option>
                                </select>
                                <label for="Genero">Género</label>
                                <div class="invalid-feedback">Por favor, seleccione un género.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="date" name="FechaNacimiento" class="form-control" placeholder="Fecha nacimiento" id="FechaNacimiento" required>
                                <label for="FechaNacimiento">Fecha Nacimiento</label>
                                <div class="invalid-feedback">Por favor, seleccione su fecha de nacimiento.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="number" name="TelefonoContacto" class="form-control" id="TelefonoContacto" placeholder="Teléfono contacto" required>
                                <label for="TelefonoContacto">Teléfono de contacto</label>
                                <div class="invalid-feedback">Por favor, ingrese su teléfono de contacto.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="number" name="TelefonoContactoEmergencia" class="form-control" id="TelefonoContactoEmergencia" placeholder="Contacto de emergencia" required>
                                <label for="TelefonoContactoEmergencia">Contacto de emergencia</label>
                                <div class="invalid-feedback">Por favor, ingrese un contacto de emergencia.</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="Sucursal" name="Sucursal" class="form-select" placeholder="Sucursal" required>
                                    <option></option>
                                    <option value="1">Centro</option>
                                </select>
                                <label for="Sucursal">Sucursal</label>
                                <div class="invalid-feedback">Por favor, seleccione una sucursal.</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" name="Direccion" placeholder="Dirección" id="Direccion" style="height: 100px;" required></textarea>
                                <label for="Direccion">Dirección</label>
                                <div class="invalid-feedback">Por favor, ingrese su dirección.</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" onclick="Site.limpiarFormularioById('RegistrarTrabajador');" class="btn btn-secondary">Cancelar</button>
                            <button type="button" onclick="Terapista.GuardarDatos('RegistrarTerapista',event);" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/Administracion/Terapista.js"></script>
<script>

    $(document).ready(function () {
        debugger;
        Terapista.Init('@Url.Content("~/")', '@Controller');
    });


</script>