@using COM.JOMA.EMP.APLICACION.SERVICE.Constants

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; <strong><span>JOMA</span></strong>. All Rights Reserved, Diseñado y creado por <a href="#">JOMA V_@AppConstants.Version</a>
    </div>
</footer>