@using COM.JOMA.EMP.APLICACION.SERVICE.Constants
@{
    var Controller = $"{WebSiteConstans.JOMA_WEBSITE_AREA_ADMINISTRACION}/{WebSiteConstans.JOMA_WEBSITE_AREA_CONTROLLER_LOGIN}";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h1 class="card-title text-center pb-0 fs-4">Crea un Terapista</h1>
                        <p class="text-center small">Ingrese los datos personales</p>
                    </div>
                    <div class="alert customize-alert alert-dismissible border-warning text-warning fade show remove-close-icon" role="alert">
                        <div class="d-flex align-items-center  me-3 me-md-0">
                            <i class="ti ti-info-circle fs-5 me-2 text-warning"></i> Notificar que al correo registrado le llegara un email con el usuario y clave temporal para que pueda reestablecer la contraseña.
                        </div>
                    </div>
                    <form class="row g-3 needs-validation" id="RegistrarTrabajador" novalidate>
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="floatingNombres" class="form-control" id="floatingNombres" placeholder="Nombres" required>
                                <label for="floatingNombres">Nombres</label>
                                <div class="invalid-feedback">Please, enter your name!</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="name" class="form-control" id="floatingApellido" placeholder="Apellidos" required>
                                <label for="floatingApellido">Apellidos</label>
                                <div class="invalid-feedback">Please, enter your name!</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="text" name="name" class="form-control" id="floatingCedula" placeholder="cédula" required>
                                <label for="floatingCedula">Cédula</label>
                                <div class="invalid-feedback">Please, enter your name!</div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="email" name="email" class="form-control" id="floatingCorreo" placeholder="correo" required>
                                <label for="floatingCorreo">Correo</label>
                                <div class="invalid-feedback">Ingrese un correo!</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="inputState" class="form-select" id="floatingGenero" placeholder="Genero" required>
                                    <option></option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">Otros</option>
                                </select>
                                <label for="floatingGenero">Genero</label>
                                <div class="invalid-feedback">Seleccione un genero!</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="date" class="form-control" placeholder="Fecha nacimiento" id="floatingFechaNacimiento" required>
                                <label for="floatingFechaNacimiento">Fecha Nacimiento</label>
                                <div class="invalid-feedback">Seleccione la fecha de nacimiento!</div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="number" name="floatinTelefonoContacto" class="form-control" id="floatinTelefonoContacto" placeholder="Telefono contacto" required>
                                <label for="floatinTelefonoContacto">Telefono de contacto</label>
                                <div class="invalid-feedback">Ingrese un telefono de contacto!</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <input type="number" name="floatinTelefonoContactoEmergencia" class="form-control" id="floatinTelefonoContactoEmergencia" placeholder="Contanto de emergencia" required>
                                <label for="floatinTelefonoContactoEmergencia">Contanto de emergencia</label>
                                <div class="invalid-feedback">Ingrese un contecto de emergencia!</div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="form-floating">
                                <select id="CmbSucrusal" class="form-select" id="floatingGenero" placeholder="Sucursal" required>
                                    <option></option>
                                    <option value="1">Centro</option>
                                </select>
                                <label for="floatingGenero">Sucursal</label>
                                <div class="invalid-feedback">Seleccione una sucursal!</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Address" id="floatingDireccion" style="height: 100px;" required></textarea>
                                <label for="floatingDireccion">Dirección</label>
                                <div class="invalid-feedback">Ingrese una dirección!</div>
                            </div>
                        </div>



                        <div class="text-center">
                            <button class="btn bg-secondary-subtle text-secondary" onclick="Site.limpiarFormularioById('RegistrarTrabajador');" type="button">Cancelar</button>
                            <button class="btn bg-primary-subtle text-primary" onclick="Terapista.GuardarDatos(event);" type="button">Guardar</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/Administracion/Terapista.js"></script>
<script>

    $(document).ready(function () {
        debugger;
        Terapista.Init('@Url.Content("~/")', '@Controller');
    });


</script>