@model string

<style>
    .input-group-text {
        padding: 8px 9px !important;
    }
</style>

<div class="card mb-0">
    <div class="card-body pt-5">
        <a href="../main/index.html" class="text-nowrap logo-img text-center d-block mb-4 w-100">
            <img src="../assets/images/logos/light-logo.svg" class="light-logo" alt="Logo-light" />
        </a>
        <div class="mb-5 text-center">
            <p>Te enviamos un código de verificación a tu Correo Electrónico registrado. Introduce el código en el campo de abajo.</p>
            <h6 class="fw-bolder">@Model</h6>
        </div>
        <form class="row g-3 needs-validation" id="FrmValidarOtp" novalidate>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label fw-semibold">
                    Escribe tu código de 4 dígitos
                </label>
                <div class="d-flex align-items-center gap-2 gap-sm-3">
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend1">
                            <i class="ti ti-lock"></i>
                        </span>
                        <input type="text" id="digitInput1" name="digitInput1" class="form-control digit-input" maxlength="1" minlength="1" pattern="[0-9]*" inputmode="numeric" placeholder="" aria-describedby="inputGroupPrepend1" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend2">
                            <i class="ti ti-lock"></i>
                        </span>
                        <input type="text" id="digitInput2" name="digitInput2" class="form-control digit-input" maxlength="1" minlength="1" pattern="[0-9]*" inputmode="numeric" placeholder="" aria-describedby="inputGroupPrepend2" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend3">
                            <i class="ti ti-lock"></i>
                        </span>
                        <input type="text" id="digitInput3" name="digitInput3" class="form-control digit-input" maxlength="1" minlength="1" pattern="[0-9]*" inputmode="numeric" placeholder="" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend4">
                            <i class="ti ti-lock"></i>
                        </span>
                        <input type="text" id="digitInput4" name="digitInput4" class="form-control digit-input" maxlength="1" minlength="1" pattern="[0-9]*" inputmode="numeric" placeholder="" aria-describedby="inputGroupPrepend4" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <button type="button" onclick="Login.ValidarOtp('FrmValidarOtp',event)" class="btn btn-primary w-100 py-8 mb-4">Verificar mi cuenta</button>
        <div class="d-flex align-items-center">
            <p class="fs-4 mb-0 text-dark">¿No recibiste el código?</p>
            <a class="text-primary fw-medium ms-2" onclick="Login.ReenviarOtp();" href="javascript:void(0)">Reenviar</a>
        </div>
    </div>
</div>
