@using COM.JOMA.EMP.APLICACION.SERVICE.Constants
@{
    string ACCION_FORZARCAMBIOCLAVE = WebSiteConstans.JOMA_WEBSITE_ACCION_FORZARCAMBIOCLAVE;
}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/favicon.png" />

    <!-- Core Css -->
    <link rel="stylesheet" href="~/assets/css/styles.css" />

    <title>Modernize Bootstrap Admin</title>
</head>

<body>
    <div id="loading-spinner" class="d-none justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-light bg-opacity-75" style="z-index: 9999;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header pt-2 pb-2">
                    <h5 class="modal-title card-title text-center p-0 fs-4" id="TitleOlvidasteContrasenia">¿Olvidaste tu contraseña?</h5>
                    <h5 class="modal-title card-title text-center p-0 fs-4" id="ForzarCambioContrasenia">Forzar cambio de clave</h5>
                    <button type="button" class="btn-close" id="CerrarModal" data-bs-dismiss="modal" onclick="" aria-label="Close"></button>
                </div>
                <div id="ContentModalRecuperar">
                    @await Html.PartialAsync("ContentIndexPartialView")
                </div>
            </div>
        </div>
    </div>


    <!-- Preloader -->
    <div class="preloader">
        <img src="~/assets/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <div id="main-wrapper" class="auth-customizer-none">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
                        <div class="card mb-0">
                            <div class="card-body">

                                <a href="#" class="text-nowrap logo-img text-center d-block mb-5 w-100">
                                    <img src="~/assets/images/logos/dark-logo.svg" class="dark-logo" alt="Logo-Dark" />
                                </a>
                                <div class="position-relative text-center my-4">
                                    <p class="mb-0 fs-4 px-3 d-inline-block bg-body text-dark z-index-5 position-relative">
                                        Inciar sesión
                                    </p>
                                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                </div>
                                <form class="row g-3 needs-validation" id="FrmLogin" novalidate>
                                    <div class="col-12">
                                        <label for="Usuario" class="form-label">Usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">
                                                <i class="ti ti-user-circle"></i>
                                            </span>
                                            <input type="text" name="Usuario" minlength="3" placeholder="Usuario" class="form-control" id="Usuario" required>
                                            <div class="invalid-feedback">
                                                Por favor, introduzca su nombre de usuario.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="Clave" class="form-label">Contraseña</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPassword">
                                                <i class="ti ti-lock"></i>
                                            </span>
                                            <input type="password" name="Clave" minlength="3" placeholder="****" class="form-control" id="Clave" required>
                                            <div class="invalid-feedback">
                                                ¡Por favor, introduzca su contraseña!
                                            </div>
                                        </div>


                                    </div>


                                    <div class="col-12">
                                        <label for="Compania" class="form-label">Compania</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupCompania">
                                                <i class="ti ti-building"></i>
                                            </span>
                                            <input type="text" name="Compania" minlength="3" placeholder="Ruc" class="form-control" id="Compania" required>
                                            <div class="invalid-feedback">
                                                ¡Por favor, introduzca el ruc de la compania!
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Recordar</label>
                                        </div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="#" onclick="Login.OpenModalRecuperarContrasenia();">
                                            <span>Recuperar contraseña</span>
                                        </a>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="button" onclick='Login.RealizarLogin("FrmLogin",event);'>Inicio Sesión</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="~/assets/libs/jquery.repeater/jquery-1.11.1.js"></script>
    <div class="dark-transparent sidebartoggler"></div>
    <!-- Import Js Files -->
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/theme/app.init.js"></script>
    <script src="~/assets/js/theme/theme.js"></script>
    <script src="~/assets/js/theme/app.min.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="~/assets/js/plugins/toastr-init.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/js/inicio/login.js"></script>

    <script>
        Login.ACCION_FORZARCAMBIOCLAVE = "@ACCION_FORZARCAMBIOCLAVE";
        URL_BASE = '@Url.Content("~/")';
        CONTROLERNAME = "@ViewBag.ControlerName";
        Login.Init();

    </script>
</body>

</html>